.contact-container {
  text-align: center;
  max-width: 500px;
  margin:  auto;
  
  padding: 30px;
  
  border-radius: 16px;
  
}

.contact-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
}

.contact-container h4 {
 font-size: 1rem;
  text-align: left;
  color: #222;
  margin-bottom: -0.5rem;
}
.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-container input,
.contact-container textarea {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f3f8fd;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.contact-container input:focus,
.contact-container textarea:focus {
  border-color: #0078ff;
}

.contact-container button {
  background-color: #003e84;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-container button:hover {
  background-color: #002753;
}

#status {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
